<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">list</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>Élèves :</h1>
  <ion-list lines="full" inset="true">
    <ion-item *ngFor="let stud of students">
      {{stud}}
    </ion-item>
  </ion-list>
  <h1>Pays :</h1>
  <ion-list lines="none">
    <ion-item-group *ngFor="let group of countries">
      <ion-item-divider>{{group.initial}}</ion-item-divider>
      <ion-item *ngFor="let country of group.countries">
        {{country}}
      </ion-item>
    </ion-item-group>  
  </ion-list>
</ion-content>
